body {
  font-family: "Roboto", sans-serif;
  max-width: 1310px;
  margin: auto;
  background-color: #f4f5f6;
  line-height: 1.2;
}

a:hover {
  text-decoration: none;
}

header,
main {
  background-color: white;
}

main {
  padding-top: 20px;
}

.margin-0 {
  margin: 0;
}

.top-navbar {
  background-color: #f72210;
  color: white;
}

.top-navbar a {
  color: white;
}

.weather-date-container {
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  padding-right: 0;
  padding-left: 2em;
}

.weather-container {
  width: 270px;
  margin-bottom: 0.5em;
}

.weather-container span {
  font-weight: 700;
  margin: 0 4px;
  font-size: 0.9em;
}

.weather-icon {
  height: 1.6em;
}

.logo {
  font-family: "Roboto slab", sans-serif;
  color: white;
  font-size: 5em;
  letter-spacing: -3.5px;
}

.log-in-subscribe-cont {
  justify-content: flex-end;
  align-items: flex-end;
}

.log-in-subscribe {
  margin-right: 0.8em;
  align-items: baseline;
}

.log-in-subscribe a,
.log-in-subscribe button {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  margin-bottom: 1em;
}

.subscribe {
  background-color: #ffe400;
  border-radius: 25px;
  margin-left: 25px;
  padding: 1px 15px;
}

/*** navbar ***/

.top-links-nav {
  width: 95%;
  justify-content: space-evenly;
  padding: 0.8em 0;
  flex-wrap: nowrap;
}

.line-li {
  border-right: 1px solid #d9d9d9;
}

.nav-link {
  font-size: 1.2em;
  color: black;
  font-weight: 700;
  padding: 0;
  flex-wrap: nowrap;
  font-family: "Roboto Condensed", sans-serif;
}

.nav-link:hover {
  color: #f72210;
}

.search img {
  margin-left: 5px;
}

.navbar-border-div {
  padding: 0;
  width: 5%;
  border-left: 15px solid white;
  border-top: 15px solid #f72210;
}

.second-nav {
  border-top: 1px solid #d9d9d9;
}

.trending-link,
.top-second-nav-item {
  margin: 0.45em 0 0.4em 1.85em;
  font-size: 16px;
  color: gray;
}

.trending-link {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  color: black;
}

.top-divider {
  background-color: #f4f5f6;
  font-size: 15px;
  font-weight: 500;
  color: darkgray;
  justify-content: space-between;
  padding: 0;
}

.top-divider span {
  margin: 0 0.5em;
}

/************************* MAIN-TOP SECTION *******************************/

.main-article-item {
  margin-bottom: 17px;
}

.article-gray-category {
  color: #9a9aad;
  font-size: 1.05em;
}

.img-main-article-container {
  position: relative;
}

.main-article-category {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  color: #f72210;
  bottom: 0;
  left: 0;
  padding: 0.3em 1.1em;
}

.main-article-category a {
  font-size: 1.1em;
  color: #f72210;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.main-article-title {
  line-height: 0.55em;
}

.main-article-title a {
  color: black;
  font-size: 0.55em;
  font-weight: 600;
}

.main-article-description {
  font-size: 15px;
}

/************************ RIGHT ***************************************/

/*** THE DEBATE ***/
.the-debate-vs {
  border-top: 4px solid rgb(213, 213, 213);
  border-bottom: 4px solid rgb(213, 213, 213);
  height: 12.5em;
  margin-bottom: 20px;
  position: relative;
}

.versus {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 0.75em;
  position: absolute;
  left: 45%;
  top: 45%;
}

.contestant {
  height: 50%;
}

.contestant-img {
  width: 65px;
  height: 65px;
  margin-right: 10px;
}

.contestant-info {
  margin: 0;
}

.contestant-propouse a {
  font-size: 1em;
}

.contestant-name {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9em;
  color: gray;
  margin-top: 5px;
  font-weight: 700;
}

.by {
  font-weight: 300;
}

.double-line-space {
  border-top: 1px solid rgb(213, 213, 213);
  height: 3px;
  border-bottom: 1px solid rgb(213, 213, 213);
}

/*** OPINION ***/

.opinion {
  height: auto;
  padding: 15px 0;
  border-bottom: 1px solid rgb(213, 213, 213);
}

.red {
  background-color: tomato;
  width: 75%;
  height: 45px;
}

.yellow {
  background-color: yellow;
  height: 25px;
}

.blue {
  background-color: turquoise;
  height: 15px;
  width: 15px;
}
